.formulario__campo.formulario__campo--centrado
  label.formulario__etiqueta
    | Comentario
    input.formulario__entrada.formulario__entrada--comentario(type="text", name="comentario", placeholder="Comentario")