nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow-sm
  .container
    span.text-white.p-0.me-2(title="Mapa")
      i.bi.bi-geo-alt.fs-5
    
    a.navbar-brand(href="index.html") AviájarFamilia
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#menuPrincipal")
      span.navbar-toggler-icon
    #menuPrincipal.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item: a.nav-link(href="index.html") Te recomendamos
        li.nav-item: a.nav-link(href="itinerario_puntos.html") Mis itinerarios
        li.nav-item: a.nav-link(href="#") Mi cuenta