.card-with-rating
  .card.shadow-sm.h-100
    a.text-decoration-none.text-dark.d-block(href="itinerario_puntos.html")
      .card-placeholder.bg-success.rounded-top
    .card-body.text-center
      h5.card-title
        a.text-decoration-none.text-dark(href="itinerario_puntos.html") Nombre itinerario
      p.card-text.small Lorem ipsum dolor sit amet consectetur adipiscing elit.

  .rating
    i.bi.bi-star-fill.text-warning
    i.bi.bi-star-fill.text-warning
    i.bi.bi-star-fill.text-warning
    i.bi.bi-star-half.text-warning
    i.bi.bi-star.text-warning