.card.shadow-sm.mb-3
  .row.g-0
    .col-md-4
      a(href="detalle_punto.html")
        .card-placeholder-small.bg-success.rounded-start
    .col-md-8
      .card-body
        h6.card-title.mb-1
          a.text-decoration-none.text-dark(href="detalle_punto.html") Nombre del punto
        p.card-text.small.mb-0 Extracto de la descripción de este punto del itinerario para orientar a las familias...