section.my-5
  h2.mb-4.text-center Itinerarios Sugeridos
  p.text-center.text-muted Encuentra destinos familiares recomendados.
  
  .row
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario
    .col-12.col-md-6.col-lg-4.mb-4
      include _card_itinerario