.my-4.text-center
  h5.mb-3 Valoración
  div 
    i.bi.bi-star-fill.text-warning.fs-4
    i.bi.bi-star-fill.text-warning.fs-4
    i.bi.bi-star-fill.text-warning.fs-4
    i.bi.bi-star.text-warning.fs-4
    i.bi.bi-star.text-warning.fs-4