doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block titulo
      title Registro de MACs
    link(rel="stylesheet", href="principal.css")
  
  body.pagina
    include componentes/_cabecera

    main.principal
      block contenido

    include componentes/_pie-pagina