doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        title MACs registradas
        link(rel="stylesheet" href="./estilos.css")
    body
    header
        h1 Listado de MACs registradas
    main
        section
        h2 Registros
        table.mac-tabla
            thead
            tr
                th Dirección MAC
                th Comentario
                th Clase/Aula
                th Profesor
            tbody
            tr
                td 74:56:3C:59:E1:1D
                td PC_1DAW1
                td DAM
                td No
            tr
                td 74:56:3C:59:EF:4A
                td PC_1DAW2
                td DAW
                td No
            tr
                td 74:56:3C:59:E1:10
                td Profesor_Mates
                td --
                td Sí
        section
        a(href="index.html") Volver al registro