doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registro de MACs
    link(rel="stylesheet", href="./estilos.css")
  body
    header
      h1 Registro de direcciones MAC

    main.contenedor-principal
      section.seccion-principal
        article.contenedor-formulario
          h2 Introduce tus datos
          form
            .grupo-campos
              .campo
                label
                  | Nombre
                  input(type="text", name="nombre", placeholder="Nombre")
              .campo
                label
                  | Apellidos
                  input(type="text", name="apellidos", placeholder="Apellidos")
              .campo
                label
                  | Direc. MAC
                  input(type="text", name="mac", placeholder="MAC", required)

            .grupo-campos
              .campo
                label
                  | Clase/Aula
                  select(name="clase")
                    option(value="DAM") DAM
                    option(value="DAW") DAW
                    option(value="ASIR") ASIR
              .campo
                label
                  input(type="checkbox", name="profesor")
                  | Soy profesor
            
            .campo-comentario
              label
                | Comentario
                input(type="text", name="comentario", placeholder="Comentario")
            
            .contenedor-botones
              button(type="submit") Enviar
              button(type="reset") Limpiar
        
        aside.contenedor-acciones
          .seccion-accion
            h2 Consultar MACs
            form
              .contenedor-botones
                button(type="submit") Consultar MACs agregadas
          
          .seccion-accion
            h2 Borrar una MAC
            form
              .campo-borrar
                label
                  | Introducir MAC a eliminar
                  input(type="text", name="borrar-mac")
              .contenedor-botones
                button(type="submit") Borrar MAC
    
    footer
      p 2025 - Luis Miguel Nuño