doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title Registro de MACs
    link(rel="stylesheet" href="./estilos.css")
  body
    header
      h1 Registro de direcciones MAC

    main
      section
        h2 Introduce tus datos
        form
          div.campo
            label(for="mac") direc. MAC
            input#mac(type="text" name="mac" placeholder="74:56:3C:59:E1:1D" required)

          div.campo
            label(for="comentario") Comentario
            input#comentario(type="text" name="comentario" placeholder="PC_1DAW1" required)

          div.campo
            label(for="clase") Clase/Aula
            select#clase(name="clase")
              option(value="DAM") DAM
              option(value="DAW") DAW
              option(value="ASIR") ASIR

          div.campo-checkbox
            input#profesor(type="checkbox" name="profesor")
            label(for="profesor") Soy profesor (se añadirá al archivo de profesores)

          button(type="submit") Enviar
          button(type="reset") Limpiar

      section
        h2 Consultas
        form(action="consultas.html" method="get")
          button(type="submit") Consultar MACs agregadas

      section
        h2 Borrar una MAC
        form
          div.campo
            label(for="borrar-mac") Introduce MAC a eliminar
            input#borrar-mac(type="text" name="borrar-mac")
            button(type="submit") Borrar MAC