extends layout

block navbar
  include componentes/_navbar_save

block contenido
  h1.mb-4 Fin de Semana en Valencia

  .row
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple
    .col-12.col-xl-6.mb-4
      include componentes/_card_simple

  include componentes/_rating