nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container
    a.navbar-brand(href="#") Mi Práctica Bootstrap
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#menu")
      span.navbar-toggler-icon
    #menu.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item: a.nav-link(href="#") Inicio
        li.nav-item: a.nav-link(href="#") Proyectos
        li.nav-item: a.nav-link(href="#") Contacto