aside.contenedor-acciones
  .seccion-accion
    h2 Consultar MACs
    form
      .contenedor-botones
        button(type="submit") Consultar MACs agregadas
    
  .seccion-accion
    h2 Borrar una MAC
    form
      .campo-borrar
        label
          | Introducir MAC a eliminar
          input(type="text", name="borrar-mac")
      .contenedor-botones
        button(type="submit") Borrar MAC