doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block title
      | Registro de MACs
    link(rel="stylesheet", href="./estilos.css")
  
  body
    header
      h1
        block header_title
          | Registro de direcciones MAC

    main.contenedor-principal
      block content

    footer
      block footer_content
        p 2025 - Luis Miguel Nuño